@media all and (max-width: 1000px) {
	.main1 {
		font-size:25px;
		width: 100%;
		text-align: center;
		overflow: auto;
	}
  
  .main1:hover,
a.ex1:active {
  color: blue;
}
  
	.lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .footer {
	  display: block;
	  width: 100%;
	  margin-bottom: 50px;
  }





}

@media all and (max-width: 676px) {
 
	.main1 {
		font-size: 20px;
		width: 100%;
		text-align: center;
		overflow: auto;
  }
  
  .main1:hover,
a.ex1:active {
  color: green;
}
	
	.lesson {
    width: 100%;
  }
  .heading-message-main2 p {
    text-align: left;
  }

  .footer {
	  width: 40%;
	  margin-bottom: 50px;
	  display: block;
  }

  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }


}